In [6]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import cPickle as pk
import pandas as pd

# Code combining into Auth Year combination sets

##### Prelim Data Munge

In [7]:
#Date to years function - works on application date and publication date in one
def date_to_year(df):
    if 'appln_filing_date' in df.columns:
        df.appln_filing_date = df.appln_filing_date.map(lambda x:int(x[:4]))
        df.rename(columns={'appln_filing_date':'app_year'}, inplace=True)
    if 'publn_date'in df.columns:
        df.publn_date = df.publn_date.map(lambda x:int(x[:4]))
        df.rename(columns={'publn_date':'pub_year'}, inplace=True)
    return

## Importing
[to top](#Table-of-Contents)

In [8]:
pwd

u'/Users/innovation-sfi/Dropbox/Research/Innovation/EPO/Data_processing/Python'

In [9]:
#%time df1 = pk.load(open('pickles_and_munged_csv/final_data_v3.pk','rb'))
%time df2 = pd.read_csv('pickles_and_munged_csv/final_data_codes_as_ints_v1.csv', engine='c', dtype={'publn_nr':str,'appln_id':str})
# pickling is so so slow...

CPU times: user 15.3 s, sys: 1.96 s, total: 17.3 s
Wall time: 17.3 s

CPU times: user 6min 15s, sys: 59.7 s, total: 7min 15s
Wall time: 8min
CPU times: user 22.2 s, sys: 3.01 s, total: 25.2 s
Wall time: 27.4 s

In [10]:
# take just top 10 countries by patent count for starters
fin_top10 = pk.load(open('pickles_and_munged_csv/final_top10_v1.pk','rb'))
fin_top10

array(['JP', 'CN', 'US', 'DE', 'KR', 'FR', 'SU', 'GB', 'RU', 'TW', 'CH'], dtype=object)

In [11]:
# munge dates to years
date_to_year(df2)

In [12]:
df2 = df2[df2.appln_auth.isin(fin_top10)]

# Group - Apply - Combine: Auth:Year:ID,

In [13]:
# Group
grp_ayi = df2.groupby(['appln_auth', 'pub_year', 'appln_id'])

In [14]:
# Apply - combine codes for each app into list NOTE time is for 100000 
%time app_id_class_ls =  grp_ayi['ipc_class_symbol'].apply(list); app_id_class_ls.head()

CPU times: user 8min 25s, sys: 10.8 s, total: 8min 36s
Wall time: 8min 36s

In [15]:
# regroup by just auth - year
grp_ay = app_id_class_ls.groupby(level=[0,1])

In [20]:
# Apply 2 - combine lists of codes for each year into list
au_yr_ls_ls = grp_ay.apply(list); au_yr_ls_ls.head()

appln_auth  pub_year
CH          1900                                  [[6088, 6118]]
            1903                                  [[6069, 7114]]
            1904                      [[4364, 4364, 4367, 4367]]
            1905        [[6948, 7165], [3331, 3333, 3333, 3333]]
            1906                                  [[6114, 6115]]
dtype: object

In [35]:
yr_lsls_au = au_yr_ls_ls.reset_index(level=0).pivot(columns='appln_auth'); yr_lsls_au
yr_lsls_au.columns = yr_lsls_au.columns.droplevel(); yr_lsls_au.head()

appln_auth,CH,CN,DE,FR,GB,JP,KR,RU,SU,TW,US
pub_year,,,,,,,,,,,
1836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[[1512, 1788], [1267, 1854], [1761, 1820], [24..."
1837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[[5829, 5831], [4903, 5435], [799, 5643], [602..."
1838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[[1536, 1773], [1153, 1207], [2722, 2746], [40..."
1839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[[4208, 4227], [5074, 6174], [4911, 4997], [33..."
1840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[[2720, 2746], [1861, 1861], [1160, 5980], [48..."

In [36]:
def map_nan_lsls(ls):
    if type(ls) != type([]):
        ls = []
    return ls

In [37]:
yr_lsls_au = yr_lsls_au.applymap(map_nan_lsls); yr_lsls_au.head()

appln_auth,CH,CN,DE,FR,GB,JP,KR,RU,SU,TW,US
pub_year,,,,,,,,,,,
1836,[],[],[],[],[],[],[],[],[],[],"[[1512, 1788], [1267, 1854], [1761, 1820], [24..."
1837,[],[],[],[],[],[],[],[],[],[],"[[5829, 5831], [4903, 5435], [799, 5643], [602..."
1838,[],[],[],[],[],[],[],[],[],[],"[[1536, 1773], [1153, 1207], [2722, 2746], [40..."
1839,[],[],[],[],[],[],[],[],[],[],"[[4208, 4227], [5074, 6174], [4911, 4997], [33..."
1840,[],[],[],[],[],[],[],[],[],[],"[[2720, 2746], [1861, 1861], [1160, 5980], [48..."

In [38]:
yr_lsls_au.applymap(len)

appln_auth,CH,CN,DE,FR,GB,JP,KR,RU,SU,TW,US
pub_year,,,,,,,,,,,
1836,0,0,0,0,0,0,0,0,0,0,7
1837,0,0,0,0,0,0,0,0,0,0,28
1838,0,0,0,0,0,0,0,0,0,0,38
1839,0,0,0,0,0,0,0,0,0,0,25
1840,0,0,0,0,0,0,0,0,0,0,35
1841,0,0,0,0,0,0,0,0,0,0,40
1842,0,0,0,0,0,0,0,0,0,0,47
1843,0,0,0,0,0,0,0,0,0,0,48
1844,0,0,0,0,0,0,0,0,0,0,46
1845,0,0,0,0,0,0,0,0,0,0,33
1846,0,0,0,0,0,0,0,0,0,0,53
1847,0,0,0,0,0,0,0,0,0,0,35
1848,0,0,0,0,0,0,0,0,0,0,50
1849,0,0,0,0,0,0,0,0,0,0,54
1850,0,0,0,0,0,0,0,0,0,0,80
1851,0,0,0,0,0,0,0,0,0,0,62
1852,0,0,0,0,0,0,0,0,0,0,78
1853,0,0,0,0,0,0,0,0,0,0,69
1854,0,0,0,0,0,0,0,0,0,0,140
1855,0,0,0,0,0,0,0,0,0,0,146
1856,0,0,0,0,0,0,0,0,0,0,188
1857,0,0,0,0,0,0,0,0,0,0,208
1858,0,0,0,0,0,0,0,0,0,0,256
1859,0,0,0,0,0,0,0,0,0,0,304
1860,0,0,0,0,0,0,0,0,0,0,297
1861,0,0,0,0,0,0,0,0,0,0,195
1862,0,0,0,0,0,0,0,0,0,0,228
1863,0,0,0,0,0,0,0,0,0,0,330
1864,0,0,0,0,0,0,0,0,0,0,393
1865,0,0,0,0,0,0,0,0,0,0,399
...,...,...,...,...,...,...,...,...,...,...,...
1986,1235,0,12619,5895,1510,37170,404,0,14428,0,20743
1987,1126,0,13812,5218,1309,37715,496,0,13042,0,23252
1988,1435,0,13477,5184,1228,40203,662,0,12492,0,21552
1989,1370,0,13782,4806,1064,35541,1441,0,12901,1,26827
1990,1132,0,12435,5202,1112,38137,2410,0,13587,0,25078
1991,1042,0,12737,5353,1121,43037,2090,0,16884,0,28001
1992,761,1,14179,4734,1188,40284,2439,0,17494,2,28464
1993,885,6493,15388,4932,1059,35181,2465,20,11167,249,28998
1994,795,8177,18139,8100,1301,36538,2221,224,6147,303,41432
1995,666,6235,17559,9395,1500,39415,3347,2442,6814,312,44311
1996,794,5530,18710,6994,1244,78162,3582,4207,3577,327,49244
1997,574,5436,18767,7785,1276,112282,3041,10195,1278,480,50273
1998,339,5990,18994,6856,1448,120367,6218,9114,331,19,62700
1999,375,9656,18652,6530,1449,115786,13315,8146,58,26,61747
2000,420,15403,18644,6223,1585,88884,9141,7855,10,4305,60128
2001,603,19033,18885,6520,1467,84260,1398,6988,8,5989,60606
2002,517,21512,18926,6138,1861,80604,822,8603,3,4691,57617
2003,584,28410,19101,7130,2095,82647,7584,12375,3,6263,55909
2004,468,37941,18747,7112,2278,82892,12306,11215,12,8057,52358
2005,487,41747,21268,6579,2430,82764,28481,12053,617,10286,47192
2006,669,67130,22810,10397,2370,87991,50002,12118,944,5953,59539
2007,592,95519,20403,8216,1720,105661,46883,11715,92,4974,50093
2008,630,127576,17557,7492,1609,107500,40138,13541,53,4798,47848
2009,597,127840,15428,7291,1577,113129,29257,15048,43,10252,49404
2010,553,218983,15612,6684,1661,123205,37144,12213,34,5692,63283
2011,512,275364,13629,6807,2029,135800,48328,10436,33,5408,62168
2012,537,333599,14382,8904,2134,138760,61907,12483,43,7192,67201
2013,576,406819,14321,7781,1845,136893,72368,11915,54,13347,70254
2014,627,409935,14612,7987,1832,125485,70213,9752,21,13097,79061
2015,38,35784,653,845,145,3405,0,0,0,3,5030

# Above is THE data frame for building networks
NetworkX can take the list of lists and add links for all permuations of the items in each list
The idea being that we go from dataframe with each value being an encoding of the adjaceny matric for each country for that year, then apply a mapping to each value that's a function using networkx to turn that into a graph, thus leaving the same data frame but with nx graphs instead of lists of lists. Then this will become the root dataframe. 
## Calling this type of dataframe a code sets frame

In [40]:
for col in yr_lsls_au:
    print col
    for inx in yr_lsls_au.index[1:]:
        print inx,
        yr_lsls_au.loc[inx,col] = yr_lsls_au.loc[inx,col] + yr_lsls_au.loc[inx-1,col]

CH
1837 1838 1839 1840 1841 1842 1843 1844 1845 1846 1847 1848 1849 1850 1851 1852 1853 1854 1855 1856 1857 1858 1859 1860 1861 1862 1863 1864 1865 1866 1867 1868 1869 1870 1871 1872 1873 1874 1875 1876 1877 1878 1879 1880 1881 1882 1883 1884 1885 1886 1887 1888 1889 1890 1891 1892 1893 1894 1895 1896 1897 1898 1899 1900 1901 1902 1903 1904 1905 1906 1907 1908 1909 1910 1911 1912 1913 1914 1915 1916 1917 1918 1919 1920 1921 1922 1923 1924 1925 1926 1927 1928 1929 1930 1931 1932 1933 1934 1935 1936 1937 1938 1939 1940 1941 1942 1943 1944 1945 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958 1959 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 CN
1837 1838 1839 1840 1841 1842 1843 1844 1845 1846 1847 1848 1849 1850 1851 1852 1853 1854 1855 1856 1857 1858 1859 1860 1861 1862 1863 1864 1865 1866 1867 1868 1869 1870 1871 1872 1873 1874 1875 1876 1877 1878 1879 1880 1881 1882 1883 1884 1885 1886 1887 1888 1889 1890 1891 1892 1893 1894 1895 1896 1897 1898 1899 1900 1901 1902 1903 1904 1905 1906 1907 1908 1909 1910 1911 1912 1913 1914 1915 1916 1917 1918 1919 1920 1921 1922 1923 1924 1925 1926 1927 1928 1929 1930 1931 1932 1933 1934 1935 1936 1937 1938 1939 1940 1941 1942 1943 1944 1945 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958 1959 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 DE
1837 1838 1839 1840 1841 1842 1843 1844 1845 1846 1847 1848 1849 1850 1851 1852 1853 1854 1855 1856 1857 1858 1859 1860 1861 1862 1863 1864 1865 1866 1867 1868 1869 1870 1871 1872 1873 1874 1875 1876 1877 1878 1879 1880 1881 1882 1883 1884 1885 1886 1887 1888 1889 1890 1891 1892 1893 1894 1895 1896 1897 1898 1899 1900 1901 1902 1903 1904 1905 1906 1907 1908 1909 1910 1911 1912 1913 1914 1915 1916 1917 1918 1919 1920 1921 1922 1923 1924 1925 1926 1927 1928 1929 1930 1931 1932 1933 1934 1935 1936 1937 1938 1939 1940 1941 1942 1943 1944 1945 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958 1959 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 FR
1837 1838 1839 1840 1841 1842 1843 1844 1845 1846 1847 1848 1849 1850 1851 1852 1853 1854 1855 1856 1857 1858 1859 1860 1861 1862 1863 1864 1865 1866 1867 1868 1869 1870 1871 1872 1873 1874 1875 1876 1877 1878 1879 1880 1881 1882 1883 1884 1885 1886 1887 1888 1889 1890 1891 1892 1893 1894 1895 1896 1897 1898 1899 1900 1901 1902 1903 1904 1905 1906 1907 1908 1909 1910 1911 1912 1913 1914 1915 1916 1917 1918 1919 1920 1921 1922 1923 1924 1925 1926 1927 1928 1929 1930 1931 1932 1933 1934 1935 1936 1937 1938 1939 1940 1941 1942 1943 1944 1945 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958 1959 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 GB
1837 1838 1839 1840 1841 1842 1843 1844 1845 1846 1847 1848 1849 1850 1851 1852 1853 1854 1855 1856 1857 1858 1859 1860 1861 1862 1863 1864 1865 1866 1867 1868 1869 1870 1871 1872 1873 1874 1875 1876 1877 1878 1879 1880 1881 1882 1883 1884 1885 1886 1887 1888 1889 1890 1891 1892 1893 1894 1895 1896 1897 1898 1899 1900 1901 1902 1903 1904 1905 1906 1907 1908 1909 1910 1911 1912 1913 1914 1915 1916 1917 1918 1919 1920 1921 1922 1923 1924 1925 1926 1927 1928 1929 1930 1931 1932 1933 1934 1935 1936 1937 1938 1939 1940 1941 1942 1943 1944 1945 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958 1959 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 JP
1837 1838 1839 1840 1841 1842 1843 1844 1845 1846 1847 1848 1849 1850 1851 1852 1853 1854 1855 1856 1857 1858 1859 1860 1861 1862 1863 1864 1865 1866 1867 1868 1869 1870 1871 1872 1873 1874 1875 1876 1877 1878 1879 1880 1881 1882 1883 1884 1885 1886 1887 1888 1889 1890 1891 1892 1893 1894 1895 1896 1897 1898 1899 1900 1901 1902 1903 1904 1905 1906 1907 1908 1909 1910 1911 1912 1913 1914 1915 1916 1917 1918 1919 1920 1921 1922 1923 1924 1925 1926 1927 1928 1929 1930 1931 1932 1933 1934 1935 1936 1937 1938 1939 1940 1941 1942 1943 1944 1945 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958 1959 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 KR
1837 1838 1839 1840 1841 1842 1843 1844 1845 1846 1847 1848 1849 1850 1851 1852 1853 1854 1855 1856 1857 1858 1859 1860 1861 1862 1863 1864 1865 1866 1867 1868 1869 1870 1871 1872 1873 1874 1875 1876 1877 1878 1879 1880 1881 1882 1883 1884 1885 1886 1887 1888 1889 1890 1891 1892 1893 1894 1895 1896 1897 1898 1899 1900 1901 1902 1903 1904 1905 1906 1907 1908 1909 1910 1911 1912 1913 1914 1915 1916 1917 1918 1919 1920 1921 1922 1923 1924 1925 1926 1927 1928 1929 1930 1931 1932 1933 1934 1935 1936 1937 1938 1939 1940 1941 1942 1943 1944 1945 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958 1959 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 RU
1837 1838 1839 1840 1841 1842 1843 1844 1845 1846 1847 1848 1849 1850 1851 1852 1853 1854 1855 1856 1857 1858 1859 1860 1861 1862 1863 1864 1865 1866 1867 1868 1869 1870 1871 1872 1873 1874 1875 1876 1877 1878 1879 1880 1881 1882 1883 1884 1885 1886 1887 1888 1889 1890 1891 1892 1893 1894 1895 1896 1897 1898 1899 1900 1901 1902 1903 1904 1905 1906 1907 1908 1909 1910 1911 1912 1913 1914 1915 1916 1917 1918 1919 1920 1921 1922 1923 1924 1925 1926 1927 1928 1929 1930 1931 1932 1933 1934 1935 1936 1937 1938 1939 1940 1941 1942 1943 1944 1945 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958 1959 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 SU
1837 1838 1839 1840 1841 1842 1843 1844 1845 1846 1847 1848 1849 1850 1851 1852 1853 1854 1855 1856 1857 1858 1859 1860 1861 1862 1863 1864 1865 1866 1867 1868 1869 1870 1871 1872 1873 1874 1875 1876 1877 1878 1879 1880 1881 1882 1883 1884 1885 1886 1887 1888 1889 1890 1891 1892 1893 1894 1895 1896 1897 1898 1899 1900 1901 1902 1903 1904 1905 1906 1907 1908 1909 1910 1911 1912 1913 1914 1915 1916 1917 1918 1919 1920 1921 1922 1923 1924 1925 1926 1927 1928 1929 1930 1931 1932 1933 1934 1935 1936 1937 1938 1939 1940 1941 1942 1943 1944 1945 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958 1959 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 TW
1837 1838 1839 1840 1841 1842 1843 1844 1845 1846 1847 1848 1849 1850 1851 1852 1853 1854 1855 1856 1857 1858 1859 1860 1861 1862 1863 1864 1865 1866 1867 1868 1869 1870 1871 1872 1873 1874 1875 1876 1877 1878 1879 1880 1881 1882 1883 1884 1885 1886 1887 1888 1889 1890 1891 1892 1893 1894 1895 1896 1897 1898 1899 1900 1901 1902 1903 1904 1905 1906 1907 1908 1909 1910 1911 1912 1913 1914 1915 1916 1917 1918 1919 1920 1921 1922 1923 1924 1925 1926 1927 1928 1929 1930 1931 1932 1933 1934 1935 1936 1937 1938 1939 1940 1941 1942 1943 1944 1945 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958 1959 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 US
1837 1838 1839 1840 1841 1842 1843 1844 1845 1846 1847 1848 1849 1850 1851 1852 1853 1854 1855 1856 1857 1858 1859 1860 1861 1862 1863 1864 1865 1866 1867 1868 1869 1870 1871 1872 1873 1874 1875 1876 1877 1878 1879 1880 1881 1882 1883 1884 1885 1886 1887 1888 1889 1890 1891 1892 1893 1894 1895 1896 1897 1898 1899 1900 1901 1902 1903 1904 1905 1906 1907 1908 1909 1910 1911 1912 1913 1914 1915 1916 1917 1918 1919 1920 1921 1922 1923 1924 1925 1926 1927 1928 1929 1930 1931 1932 1933 1934 1935 1936 1937 1938 1939 1940 1941 1942 1943 1944 1945 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958 1959 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015

In [43]:
# gotta pickle it, writing to csv doesn't preserve the columns and index properly...
pk.dump(yr_lsls_au, open('pickles_and_munged_csv/top11_cated_cumed_codes_as_ints_v1.pk', 'wb'))

In [42]:
yr_lsls_au.applymap(len)

appln_auth,CH,CN,DE,FR,GB,JP,KR,RU,SU,TW,US
pub_year,,,,,,,,,,,
1836,0,0,0,0,0,0,0,0,0,0,7
1837,0,0,0,0,0,0,0,0,0,0,35
1838,0,0,0,0,0,0,0,0,0,0,73
1839,0,0,0,0,0,0,0,0,0,0,98
1840,0,0,0,0,0,0,0,0,0,0,133
1841,0,0,0,0,0,0,0,0,0,0,173
1842,0,0,0,0,0,0,0,0,0,0,220
1843,0,0,0,0,0,0,0,0,0,0,268
1844,0,0,0,0,0,0,0,0,0,0,314
1845,0,0,0,0,0,0,0,0,0,0,347
1846,0,0,0,0,0,0,0,0,0,0,400
1847,0,0,0,0,0,0,0,0,0,0,435
1848,0,0,0,0,0,0,0,0,0,0,485
1849,0,0,0,0,0,0,0,0,0,0,539
1850,0,0,0,0,0,0,0,0,0,0,619
1851,0,0,0,0,0,0,0,0,0,0,681
1852,0,0,0,0,0,0,0,0,0,0,759
1853,0,0,0,0,0,0,0,0,0,0,828
1854,0,0,0,0,0,0,0,0,0,0,968
1855,0,0,0,0,0,0,0,0,0,0,1114
1856,0,0,0,0,0,0,0,0,0,0,1302
1857,0,0,0,0,0,0,0,0,0,0,1510
1858,0,0,0,0,0,0,0,0,0,0,1766
1859,0,0,0,0,0,0,0,0,0,0,2070
1860,0,0,0,0,0,0,0,0,0,0,2367
1861,0,0,0,0,0,0,0,0,0,0,2562
1862,0,0,0,0,0,0,0,0,0,0,2790
1863,0,0,0,0,0,0,0,0,0,0,3120
1864,0,0,0,0,0,0,0,0,0,0,3513
1865,0,0,0,0,0,0,0,0,0,0,3912
...,...,...,...,...,...,...,...,...,...,...,...
1986,62992,0,200966,298951,241983,467288,3329,0,247311,2,796734
1987,64118,0,214778,304169,243292,505003,3825,0,260353,2,819986
1988,65553,0,228255,309353,244520,545206,4487,0,272845,2,841538
1989,66923,0,242037,314159,245584,580747,5928,0,285746,3,868365
1990,68055,0,254472,319361,246696,618884,8338,0,299333,3,893443
1991,69097,0,267209,324714,247817,661921,10428,0,316217,3,921444
1992,69858,1,281388,329448,249005,702205,12867,0,333711,5,949908
1993,70743,6494,296776,334380,250064,737386,15332,20,344878,254,978906
1994,71538,14671,314915,342480,251365,773924,17553,244,351025,557,1020338
1995,72204,20906,332474,351875,252865,813339,20900,2686,357839,869,1064649
1996,72998,26436,351184,358869,254109,891501,24482,6893,361416,1196,1113893
1997,73572,31872,369951,366654,255385,1003783,27523,17088,362694,1676,1164166
1998,73911,37862,388945,373510,256833,1124150,33741,26202,363025,1695,1226866
1999,74286,47518,407597,380040,258282,1239936,47056,34348,363083,1721,1288613
2000,74706,62921,426241,386263,259867,1328820,56197,42203,363093,6026,1348741
2001,75309,81954,445126,392783,261334,1413080,57595,49191,363101,12015,1409347
2002,75826,103466,464052,398921,263195,1493684,58417,57794,363104,16706,1466964
2003,76410,131876,483153,406051,265290,1576331,66001,70169,363107,22969,1522873
2004,76878,169817,501900,413163,267568,1659223,78307,81384,363119,31026,1575231
2005,77365,211564,523168,419742,269998,1741987,106788,93437,363736,41312,1622423
2006,78034,278694,545978,430139,272368,1829978,156790,105555,364680,47265,1681962
2007,78626,374213,566381,438355,274088,1935639,203673,117270,364772,52239,1732055
2008,79256,501789,583938,445847,275697,2043139,243811,130811,364825,57037,1779903
2009,79853,629629,599366,453138,277274,2156268,273068,145859,364868,67289,1829307
2010,80406,848612,614978,459822,278935,2279473,310212,158072,364902,72981,1892590
2011,80918,1123976,628607,466629,280964,2415273,358540,168508,364935,78389,1954758
2012,81455,1457575,642989,475533,283098,2554033,420447,180991,364978,85581,2021959
2013,82031,1864394,657310,483314,284943,2690926,492815,192906,365032,98928,2092213
2014,82658,2274329,671922,491301,286775,2816411,563028,202658,365053,112025,2171274
2015,82696,2310113,672575,492146,286920,2819816,563028,202658,365053,112028,2176304