In [57]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import cPickle as pk
import pandas as pd

# Truncating Classification codes

##### Prelim Data Munge

In [58]:
# Take date col. with format 'yyyy-mm-dd' and return that col as int(yyyy)
def d_to_y(col):
    return col.map(lambda x:int(x[:4]))

In [59]:
#Date to years function - works on application date and publication date in one
def date_to_year(df):
    if 'appln_filing_date' in df.columns:
        df.appln_filing_date = df.appln_filing_date.map(lambda x:int(x[:4]))
        df.rename(columns={'appln_filing_date':'app_year'}, inplace=True)
    if 'publn_date'in df.columns:
        df.publn_date = df.publn_date.map(lambda x:int(x[:4]))
        df.rename(columns={'publn_date':'pub_year'}, inplace=True)
    return

In [60]:
# Date to binary is missing or now
def date_to_binary(df, d_col, new_col_name):
    if d_col in df.columns:
        df[d_col] = df[d_col].map( lambda x: 0 if x == 9999 else 1 )
        df.rename(columns={d_col:new_col_name}, inplace=True)
    else: 
        return 'd_col not a column'

## SQL Query used on PATSTAT 2015 Spring

SELECT tls211_pat_publn.publn_nr, tls201_appln.appln_auth, tls211_pat_publn.publn_date, tls201_appln.appln_id, tls209_appln_ipc.ipc_class_symbol
FROM tls201_appln 
INNER JOIN tls211_pat_publn ON tls211_pat_publn.appln_id = tls201_appln.appln_id
INNER JOIN tls209_appln_ipc ON tls209_appln_ipc.appln_id = tls201_appln.appln_id
WHERE tls201_appln.appln_id NOT IN 
	(
    SELECT appln_id
    FROM tls204_appln_prior
    )
AND tls211_pat_publn.publn_first_grant = 1
LIMIT 1000000

## Importing
[to top](#Table-of-Contents)

In [61]:
pwd

u'/Users/innovation-sfi/Dropbox/Research/Innovation/EPO/Data_processing/Python'

In [62]:
f_all_grants = '/Users/innovation-sfi/Dropbox/Research/Innovation/EPO/Data_processing/Data_Play/all_grant_only_prior_ipc_test.csv'

In [63]:
df = pd.read_csv(f_all_grants, engine='c', dtype={'publn_nr':str,'appln_id':str}); df.head()
#dont need ID's

  publn_nr appln_auth  publn_date  appln_id ipc_class_symbol
0  PP19626         US  2009-01-20  55754593      A01H   5/00
1  PP19627         US  2009-01-20  52899962      A01H   5/00
2  PP19628         US  2009-01-20  55754594      A01H   5/00
3  PP19629         US  2009-01-20  55754595      A01H   5/00
4  PP19630         US  2009-01-20  55318791      A01H   5/00

In [64]:
# munge dates to years
date_to_year(df); df

       publn_nr appln_auth  pub_year  appln_id ipc_class_symbol
0       PP19626         US      2009  55754593      A01H   5/00
1       PP19627         US      2009  52899962      A01H   5/00
2       PP19628         US      2009  55754594      A01H   5/00
3       PP19629         US      2009  55754595      A01H   5/00
4       PP19630         US      2009  55318791      A01H   5/00
5       PP19631         US      2009  55754596      A01H   5/00
6       PP19632         US      2009  52909593      A01H   5/00
7       PP19633         US      2009  55754597      A01H   5/00
8       PP19634         US      2009  55754598      A01H   5/00
9       PP19635         US      2009  55754599      A01H   5/00
10      PP19636         US      2009  55754600      A01H   5/00
11      PP19637         US      2009  55754601      A01H   5/00
12      PP19638         US      2009  55754602      A01H   5/00
13      PP19639         US      2009  55754603      A01H   5/00
14      PP19640         US      2009  53957507      A01H   5/00
15      PP19641         US      2009  55754604      A01H   5/00
16      PP19642         US      2009  55754605      A01H   5/00
17      PP19643         US      2009  55223361      A01H   5/00
18      PP19644         US      2009  55754606      A01H   5/00
19      PP19645         US      2009  55754607      A01H   5/00
20      PP19646         US      2009  55754608      A01H   5/00
21      PP19647         US      2009  55754609      A01H   5/00
22      PP19648         US      2009  55754610      A01H   5/00
23      PP19649         US      2009  55754611      A01H   5/00
24      PP19650         US      2009  55754612      A01H   5/00
25      PP19651         US      2009  55754613      A01H   5/00
26      PP19652         US      2009  55754614      A01H   5/00
27      PP19653         US      2009  55754615      A01H   5/00
28      PP19654         US      2009  55754616      A01H   5/00
29      PP19655         US      2009  55754617      A01H   5/00
...         ...        ...       ...       ...              ...
999970  I269526         TW      2006  45275588      H03H   9/46
999971  I269546         TW      2006  45270627      H04J  11/00
999972  I269575         TW      2006  45275134      H04M   1/02
999973  I269630         TW      2006  45265017      G06F   1/20
999974  I269630         TW      2006  45265017      H05K   7/20
999975  I270533         TW      2007  45225440      C02F   1/72
999976  I270836         TW      2007  45227337      G09G   3/00
999977  I270836         TW      2007  45227337      H01J  17/49
999978  7250445         US      2007  46165963      A61K  31/07
999979  7250445         US      2007  46165963      A61K  31/34
999980  7250445         US      2007  46165963     A61K  31/355
999981  7252840         US      2007  52451677      A61K   9/12
999982  7252840         US      2007  52451677      A61K   9/16
999983  7259237         US      2007  52484437      A61K  38/00
999984  7259237         US      2007  52484437      A61K  38/02
999985  7259237         US      2007  52484437     C07K   1/107
999986  7259237         US      2007  52484437      C07K   2/00
999987  7273469         US      2007  53211352      A61M  29/00
999988  7284290         US      2007  48928467      A47C  16/00
999989  7284290         US      2007  48928467      A47C  20/00
999990  7284290         US      2007  48928467      A47C  20/02
999991  7284290         US      2007  48928467      B68G   5/00
999992  7284348         US      2007  50981014      A01K  85/00
999993  7284348         US      2007  50981014      A01K  85/02
999994  7284348         US      2007  50981014      A01K  85/10
999995  7284349         US      2007  50717506      A01K  97/06
999996  7284354         US      2007  46813565      E04C   5/16
999997  7284393         US      2007  46289976      F25D   3/08
999998  7284688         US      2007  52215667      B65D  43/22
999999  7284732         US      2007  48859655      B65B  67/04

[1000000 rows x 5 columns]

In [80]:
df['len'] = df.ipc_class_symbol.map(len)
df2 = df[df.len == 4]

In [82]:
grp = df2.groupby('appln_auth')
grp.size()

appln_auth
BE     35
CA      3
DE     10
FI    314
IT      1
NO      1
SE      2
US    492
ZA    205
dtype: int64

In [65]:
# how many have the / to make a consitent truncation
c = 0
for code in df.ipc_class_symbol:
    if '/' in code:
        c = c + 1
print c

998937

In [66]:
# how many have the ' ' to make a consitent truncation
c = 0
for code in df.ipc_class_symbol:
    if ' ' in code:
        c = c + 1
print c

998937

In [67]:
# how many only have 4 chars deep classifcaiton
c = 0
for code in df.ipc_class_symbol:
    if len(code) == 4:
        c = c + 1
print c

# nicely matches

1063

In [68]:
# returns new df with trucated ipc on /
def ipc_trun_slash(df):
    df_temp = df.copy()
    if 'ipc_class_symbol'in df_temp.columns:
        df_temp.ipc_class_symbol = df_temp.ipc_class_symbol.map(lambda x: x.split('/')[0])
        df_temp.rename(columns={'ipc_class_symbol':'ipc_to_/'}, inplace=True)
    return df_temp

In [69]:
df_slash = ipc_trun_slash(df); df_slash.head()

  publn_nr appln_auth  pub_year  appln_id  ipc_to_/
0  PP19626         US      2009  55754593  A01H   5
1  PP19627         US      2009  52899962  A01H   5
2  PP19628         US      2009  55754594  A01H   5
3  PP19629         US      2009  55754595  A01H   5
4  PP19630         US      2009  55318791  A01H   5

In [70]:
# returns new df with truncated ipc
def ipc_trun_4(df):
    df_temp = df.copy()
    if 'ipc_class_symbol'in df_temp.columns:
        df_temp.ipc_class_symbol = df_temp.ipc_class_symbol.map(lambda x: x[:4])
        df_temp.rename(columns={'ipc_class_symbol':'ipc_to_4'}, inplace=True)
    return df_temp

In [71]:
df_4 = ipc_trun_4(df); df_4.head()

  publn_nr appln_auth  pub_year  appln_id ipc_to_4
0  PP19626         US      2009  55754593     A01H
1  PP19627         US      2009  52899962     A01H
2  PP19628         US      2009  55754594     A01H
3  PP19629         US      2009  55754595     A01H
4  PP19630         US      2009  55318791     A01H

In [72]:
df.head()

  publn_nr appln_auth  pub_year  appln_id ipc_class_symbol
0  PP19626         US      2009  55754593      A01H   5/00
1  PP19627         US      2009  52899962      A01H   5/00
2  PP19628         US      2009  55754594      A01H   5/00
3  PP19629         US      2009  55754595      A01H   5/00
4  PP19630         US      2009  55318791      A01H   5/00