In [3]:
%matplotlib inline
import pickle as pk
import pandas as pd

# PATSTAT Data Checks

In [35]:
US_path = '../Data_Play/US_pat_check.csv'
GB_path = '../Data_Play/GB_pat_check.csv'
USdf = pd.read_csv(US_path, engine='c', dtype={'appln_nr':str, 'publn_nr':str} )
GBdf = pd.read_csv(GB_path, engine='c', dtype={'appln_nr':str, 'publn_nr':str} )

In [36]:
USdf

        publn_nr  appln_id appln_filing_date  pat_grant  publn_date
0             X1  56414187        1790-07-31          1  1790-07-31
1         718793  46789746        1809-04-08          1  1903-01-20
2        1113768  47666487        1812-11-15          1  1914-10-13
3        1216480  47845187        1815-04-19          1  1917-02-20
4         353089  46162467        1836-08-10          1  1886-11-23
5            345  45381297        1837-06-15          1  1837-08-08
6           1869  45384011        1840-11-26          1  1840-11-26
7           4135  45388000        1845-08-04          1  1845-08-04
8           5017  45389552        1847-03-13          1  1847-03-13
9           6469  45392050        1849-03-10          1  1849-05-22
10          6461  45392039        1849-05-22          1  1849-05-22
11          6877  45392740        1849-11-20          1  1849-11-20
12          7204  45393299        1850-03-19          1  1850-03-19
13          9149  45396686        1852-07-27          1  1852-07-27
14         10630  45399230        1854-03-14          1  1854-03-14
15         11111  45400039        1854-06-20          1  1854-06-20
16         11391  45400526        1854-07-25          1  1854-07-25
17         11713  45401087        1854-09-19          1  1854-09-19
18         12129  45401793        1855-01-02          1  1855-01-02
19         12157  45401838        1855-01-02          1  1855-01-02
20         12196  45401902        1855-01-09          1  1855-01-09
21         13114  45403499        1855-06-19          1  1855-06-19
22         13341  45403899        1855-07-24          1  1855-07-24
23         13451  45404097        1855-08-21          1  1855-08-21
24         14645  45406147        1856-04-15          1  1856-04-15
25         14981  45406875        1856-05-27          1  1856-05-27
26         15142  45407273        1856-06-17          1  1856-06-17
27         15356  45407827        1856-07-15          1  1856-07-15
28         15615  45408514        1856-08-26          1  1856-08-26
29         15637  45408574        1856-09-02          1  1856-09-02
...          ...       ...               ...        ...         ...
9246919  3402078  49744501        9999-12-31          1  1968-09-17
9246920  3402858  49745122        9999-12-31          1  1968-09-24
9246921  3403867  49745921        9999-12-31          1  1968-10-01
9246922  3408686  49749691        9999-12-31          1  1968-11-05
9246923  3408687  49749693        9999-12-31          1  1968-11-05
9246924  3409235  49750123        9999-12-31          1  1968-11-05
9246925  3412035  49752280        9999-12-31          1  1968-11-19
9246926  3413079  49753095        9999-12-31          1  1968-11-26
9246927  3413876  49753690        9999-12-31          1  1968-12-03
9246928  3414857  49754469        9999-12-31          1  1968-12-03
9246929  3414858  49754471        9999-12-31          1  1968-12-03
9246930  3414859  49754474        9999-12-31          1  1968-12-03
9246931  3417320  49756430        9999-12-31          1  1968-12-17
9246932  3417321  49756433        9999-12-31          1  1968-12-17
9246933  3418534  49757388        9999-12-31          1  1968-12-24
9246934  3418535  49757390        9999-12-31          1  1968-12-24
9246935  3418536  49757392        9999-12-31          1  1968-12-24
9246936  3418537  49757394        9999-12-31          1  1968-12-24
9246937  3418538  49757396        9999-12-31          1  1968-12-24
9246938  3418855  49757643        9999-12-31          1  1968-12-31
9246939  3784375  50404153        9999-12-31          1  1974-01-08
9246940  3797248  50426823        9999-12-31          1  1974-03-19
9246941  3804964  50435861        9999-12-31          1  1974-04-16
9246942  3816415  50444840        9999-12-31          1  1974-06-11
9246943  3818739  50446703        9999-12-31          1  1974-06-25
9246944  3825971  50452322        9999-12-31          1  1974-07-30
9246945  3830072  50455456        9999-12-31          1  1974-08-20
9246946  3856917  50476371        9999-12-31          1  1974-12-24
9246947  4869074  51266248        9999-12-31          1  1989-09-26
9246948    AI120  54489947        9999-12-31          1  1855-04-10

[9246949 rows x 5 columns]

In [28]:
US_len = len(USdf.index)
GB_len = len(GBdf.index)
print US_len
print GB_len

9246949
1820198

#### Patent Kind Check
If `appln_kind NOT IN ('A')`

#### Date Checks
If `appln_filing_date = '9999-12-31'`

In [44]:
print "US_appln_date %f" % ((float(US_len-(USdf['appln_filing_date'] =='9999-12-31').sum()))/US_len)
print "GB_appln_date %f" % ((float(GB_len-(GBdf['appln_filing_date'] =='9999-12-31').sum()))/GB_len)
print "US_pub_date %f" % ((float(US_len-(USdf['publn_date'] =='9999-12-31').sum()))/US_len)
print "GB_pub_date %f" % ((float(GB_len-(GBdf['publn_date'] =='9999-12-31').sum()))/GB_len)

US_appln_date 0.919705
GB_appln_date 0.999968
US_pub_date 1.000000
GB_pub_date 1.000000

#### Not Dummy Application Check
If `appln_id > 900 000 000`

In [45]:
print "US_dummy_perc %f" % (float(US_len-((USdf['appln_id'] < 900000000).sum()))/US_len)
print "GB_dummy_perc %f" % (float(GB_len-((GBdf['appln_id'] < 900000000).sum()))/GB_len)

US_dummy_perc 0.000000
GB_dummy_perc 0.000000

#### Application Number Check 
If `appln_nr NOT LIKE '%[0-9]'`